<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lokyoh.hduspm.mapper.StudentMapper">
    <insert id="addStudent">
        insert into teachers (
        account_id,
        name,
        teacher_id,
        email,
        phone
        )
        value (
        (select id from accounts where username = #{studentId}),
        #{name},
        #{teacherId},
        #{classNumber},
        #{email},
        #{phone}
        )
    </insert>
    <select id="info" resultType="com.lokyoh.hduspm.entity.Teacher">
        select
        t.id,
        t.account_id,
        t.name,
        a.password,
        t.teacher_id,
        t.email,
        t.phone,
        a.created_at
        from teachers t
        join accounts a ON t.account_id = a.id
        <where>
            a.id=#{id}
        </where>
    </select>
    <update id="changeInfo">
        update accounts a
        JOIN teachers t ON t.account_id = a.id
        <set>
            t.teacher_id=t.teacher_id
            <if test="password!=null and password!=''">
                , a.password=#{password}
            </if>
            <if test="classNumber!=null and classNumber!=''">
                , t.class_number=#{classNumber}
            </if>
            <if test="email!=null and email!=''">
                , t.email=#{email}
            </if>
            <if test="phone!=null and phone!=''">
                , t.phone=#{phone}
            </if>
        </set>
        <where>
            a.id=#{accountId}
        </where>
    </update>
</mapper>